.appointment-list {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  max-height: 300px; /* Set a fixed height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  display: flex;
  flex-direction: column;
}

.appointment-list h3 {
  margin-top: 0;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.pastDue {
  background-color: lightcoral;
}

.paid-off {
  color: green;
}

.not-paid-off {
  color: gray;
}

.past-due {
  color: red;
}

.past-due-icon {
  color: red;
}
